.servicesContainerPage{
    margin-top: 100px;
}

.servicesPageTitle {
    justify-content: center; /* Center the title horizontally */
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 50px;
    color: black ;
  }
  
.servicesPageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center; /* Keeps service items centered in the grid */
}
.servicesContainerPage .servicesPageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Enforce 2 columns */
    gap: 20px;
  }

.service-icon{
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-right: 5px;
}

.servicePageitem{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    color: black;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-weight: bold; /* Makes the service name bold */
    font-size: 1.1rem; /* Makes the service name a bit larger */
    margin-bottom: 5px;
}

p {
    font-size: 1rem; /* Makes the description font size a little smaller than the service name */
    color: #333; /* Optional: a darker color for the description for better readability */
}
@media (max-width: 768px) {
    .servicesPageGrid {
        grid-template-columns: 1fr; /* Switch to one column in mobile mode */
    }
    .servicePageitem{
        width: 340px;
    }
}

@media (min-width: 1024px) {
    .servicesPageGrid {
      grid-template-columns: repeat(2, 1fr); /* Explicitly enforce 2 columns on desktop */
    }
  }