.homepage {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85); /* Dark overlay */
  z-index: 1;
  box-shadow: 0 0 8px 8px black inset;
}

.homepage h1 {
  color: white;
  z-index: 2; /* Makes sure the text is above the overlay */
  margin-bottom: 20px;
}

.BookApptButton {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 2;
}

.BookApptButton:hover {
  cursor: pointer;
}
