.homepage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center content vertically */
  align-items: center;      /* Center content horizontally */
  text-align: center;
}

.homepage h1,
.homepage h2,
.homepage h3 {
  position: relative;
  color: white;
  z-index: 2; /* Makes sure the text is above the overlay */
}

.custom-heading {
  font-family: "Playfair Display", "Roboto", sans-serif;
  margin: 0 auto;
  font-size: 3rem; /* Equivalent to text-4xl in Tailwind */
  font-weight: 700; /* Equivalent to font-bold */
  letter-spacing: -0.015em; /* Approximation for tight tracking */
  text-align: left;
}

.BookApptButton {
  background-color: white;
  color: black;
  padding: 25px 30px;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
  margin-top: 280px;
  font-weight: 800;
}

.BookApptButton:hover {
  cursor: pointer;
}

.HeroSection {
  background: url('../../../public/images/homeback.jpg')center / cover no-repeat;
  margin-top: 15px;
  width: 100%;
  position: relative;
  z-index: 2;
  height: 700px;

}

.ParaHeroSection {
  color: black !important;
  font-family: "Playfair Display", "Cormorant Unicase", "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 1000;
  z-index: 1;
  margin-top: 80px;
  margin-bottom: 80px;
}

.servicesContainer {
  z-index: 1;
  padding: 10px 20px;
  margin-top: 140px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 80px;
}
.servicesTitle {
  color: black !important;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Playfair Display";
}

.serviceItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  font-family: "Playfair Display";
}
.serviceItem h3 {
  color: black; /* Sets the text color to black */
}

.serviceIcon{
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 5px;
}

/* .reviewsContainer {
  margin-bottom: 10px;
  padding: 20px 20px;
  background-color: #eeeeee;
} */

/* Location Section */
.gallery {
  width: 100%;
  margin-top: 140px;
  padding-top: 40px;
 position: relative; /* Ensure it stays above the overlay */
 z-index: 2; /* Position the gallery above the overlay */
 box-shadow: none;
}

.titles {
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Playfair Display";
}

.right-main-section {
  flex: 1; /* Allow this section to grow */
  margin: 0 20px 0 20px; /* Space between left and right sections */
  padding: 0 20px 0 20px;
  z-index: 1;
}

.left-main-section {
  flex: 1; /* Allow this section to grow */
  margin: 0 20px 0 20px; /* Space between left and right sections */
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
}

.img-carousel{
  height: auto;
}

@media (max-width: 768px) {
  .homepage {
    justify-content: space-between;
    background-size: 160%;
    background-position: center top;   
  }

  .custom-heading {
    font-size: 1.8rem; /* Equivalent to text-4xl in Tailwind */
  }

  .BookApptButton {
    padding: 10px 20px;
  }

  .BookApptButton:hover {
    cursor: pointer;
  }
  .ParaHeroSection {
    font-size: 1rem;
    margin-top: 95px;
  }
  .servicesGrid {
    grid-template-columns: 1fr; /* Switch to a single column */
    gap: 10px; /* Adjust the gap as needed */
  }
  .right-main-section {
    flex: 1; /* Allow this section to grow */
    margin: 0 20px 0 20px; /* Space between left and right sections */
    padding: 0 20px 0 20px;
    z-index: 1;
    font-size: 1rem;
  }

  .left-main-section {
    flex: 1; /* Allow this section to grow */
    margin: 0 20px 0 20px; /* Space between left and right sections */
    padding: 0 20px 0 20px;
  }
}
